# Development dependencies for running tests and linters.
-r requirements.txt
pymarkdownlnt>=0.9.38,<1
pytest>=9.1.1,<10
pytest-cov>=7.1.0,<8
check-jsonschema>=0.37.4,<1
yamllint>=1.38.0,<2

# Updates due to reports by 'osv-scanner'
idna>=3.18,<4
pygments>=2.20.0,<3
requests>=2.34.2,<3
